In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
#convertir data frame
df = pd.read_csv("airbnb_madrid_filtered.csv")
df

,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
0,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,83531,Abdel,2010-02-21,"Madrid, Spain",NaN,NaN,...,0,0,0,0.0,2014-10-10,2018-07-15,4.58,4.56,4.82,4.21
1,30320,Apartamentos Dana Sol,NaN,NaN,130907,Dana,2010-05-24,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2010-07-06,2022-09-26,4.63,4.88,4.78,4.90
2,30959,Beautiful loft in Madrid Center,Beautiful Loft 60m2 size just in the historica...,NaN,132883,Angela,2010-05-26,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2015-05-12,2017-05-30,4.38,4.38,4.63,4.88
3,40916,Apartasol Apartamentos Dana,NaN,NaN,130907,Dana,2010-05-24,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2010-11-01,2021-12-11,4.65,4.90,4.79,4.88
4,62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,INCREDIBLE HOME OF AN ARTIST SURROUNDED BY PAI...,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,303845,Arturo,2010-11-29,"Madrid, Spain",within an hour,100%,...,2,45,204,13056.0,2018-05-10,2025-06-07,4.65,4.44,4.86,4.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25999,1440480926395443476,Private Room Near Atocha,Cozy room in Madrid. Steps from the Royal Pala...,NaN,699306333,Sergio Matias,2025-06-04,NaN,NaN,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26000,1440487269977127830,Bahia - 3 bedrooms and balcony in Niño Jesús,Our mission is to empower individuals to immer...,The Niño Jesús neighborhood of Retiro is a pre...,346367515,Ukio,2020-05-15,"Barcelona, Spain",within a few hours,100%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26001,1440501514773966682,apartamento en plaza mayor,Beautiful apartment in Plaza Mayor. It consist...,NaN,663724111,Juan Vicente,2024-11-24,"Madrid, Spain",within a few hours,90%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26002,1440526432592438393,Hermoso piso en el centro,Spend your stay in Madrid in an exceptional wa...,NaN,518713670,Bemadrid,2023-06-07,NaN,within an hour,92%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26003,1440528770874727317,Cozy suite - Bravo Murillo,Would you like to live in a residence for youn...,NaN,510778876,The Residential,2023-04-19,NaN,within an hour,80%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Seleccionamos 5 nombres de anfitriones distintos (no nulos)
hosts_muestra = df["nombre_anfitrion"].dropna().unique()[:5]
print("Hosts seleccionados:", hosts_muestra)

# Filtramos el dataframe para quedarnos con esos 5
df_hosts = df[df["nombre_anfitrion"].isin(hosts_muestra)]

# Mostramos una vista rápida
df_hosts.head(10)

Hosts seleccionados: ['Abdel' 'Dana' 'Angela' 'Arturo' 'Diana']

,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
0,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,83531,Abdel,2010-02-21,"Madrid, Spain",NaN,NaN,...,0,0,0,0.0,2014-10-10,2018-07-15,4.58,4.56,4.82,4.21
1,30320,Apartamentos Dana Sol,NaN,NaN,130907,Dana,2010-05-24,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2010-07-06,2022-09-26,4.63,4.88,4.78,4.90
2,30959,Beautiful loft in Madrid Center,Beautiful Loft 60m2 size just in the historica...,NaN,132883,Angela,2010-05-26,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2015-05-12,2017-05-30,4.38,4.38,4.63,4.88
3,40916,Apartasol Apartamentos Dana,NaN,NaN,130907,Dana,2010-05-24,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2010-11-01,2021-12-11,4.65,4.90,4.79,4.88
4,62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,INCREDIBLE HOME OF AN ARTIST SURROUNDED BY PAI...,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,303845,Arturo,2010-11-29,"Madrid, Spain",within an hour,100%,...,2,45,204,13056.0,2018-05-10,2025-06-07,4.65,4.44,4.86,4.97
5,70059,Tu hogar en centro de Madrid.,"Very nice, cozy and bright, right in the cente...",The location of this apartment is ideal for wa...,353616,Diana,2011-01-19,"Madrid, Spain",within a few hours,100%,...,1,0,28,2408.0,2011-02-23,2025-06-14,4.68,4.74,4.89,4.95
20,100411,Ático muy luminoso,Penthouse with a beautiful terrace and expansi...,"Very well connected residential area, with a l...",527760,Diana,2011-04-22,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2016-05-24,2016-06-24,4.67,4.67,4.33,4.33
63,750257,Apartamentos Dana Madrid,NaN,NaN,130907,Dana,2010-05-24,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2013-09-30,2019-06-02,4.26,4.83,4.78,4.59
68,260951,"Loft ""A"" Spectacular at IFEMA, Madrid Fair","Our beautiful and authentic loft, spacious and...",Business area,1351865,Angela,2011-10-30,"Madrid, Spain",within an hour,100%,...,2,4,84,25368.0,2012-04-27,2025-06-01,4.71,4.87,4.85,4.25
70,263748,"LOFT ""C"" cerca de IFEMA Madrid",The loft is an open space with different heigh...,LOFT stay in a unique space a nice experience....,1351865,Angela,2011-10-30,"Madrid, Spain",within an hour,100%,...,4,18,150,15450.0,2012-07-30,2025-06-22,4.75,4.91,4.89,4.32

In [11]:
#b) Los registros de los host que se hallan unido a Airbnb “despues del año 2020”
hosts_2020 = df[df["anfitrion_desde"] > "2020-12-31"]
hosts_2020

,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
987,8550478,"Unbeatable Location, Next to Royal Palace & Sol.",Beautifully decorated apartment with a wide ra...,The location of this apartment in the historic...,398526428,Maria,2021-04-25,"Madrid, Spain",NaN,NaN,...,5,72,255,76500.0,2015-09-28,2025-06-19,4.89,4.93,4.95,4.97
1015,8708735,Loft con encanto Plaza de España,"Charming loft, ideal couples or executive, in ...",NaN,674118530,Adrian,2025-01-20,"Madrid, Spain",NaN,NaN,...,0,0,0,NaN,2015-12-09,2021-12-22,4.72,4.45,4.90,4.86
1194,9659461,In The Very Heart of the City + Video Projector,THE CALENDAR OPENS 3 MONTHS IN ADVANCE. Apartm...,This apartment is located in the heart of the ...,398526428,Maria,2021-04-25,"Madrid, Spain",NaN,NaN,...,3,74,255,107100.0,2016-08-15,2025-06-12,4.88,4.91,4.94,4.90
1358,11431731,ADELFAS 06 RESIDENTIAL ONE BEDROOM,Our apartment is located in a modern building ...,The Pacific neighborhood occupies the entire s...,392790154,Apartamentos Temporales,2021-03-16,NaN,NaN,NaN,...,0,0,0,0.0,2018-08-27,2023-05-04,4.02,4.10,4.29,4.48
1359,11438317,ADELFAS 13 RESIDENTIAL STUDIO.,Our apartment is located in a modern building ...,The Pacific neighborhood occupies the entire s...,392790154,Apartamentos Temporales,2021-03-16,NaN,NaN,NaN,...,1,0,28,2408.0,2017-01-27,2025-06-08,3.89,3.95,4.16,4.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25995,1440425430059359202,Designer Apartment in the center,Functional and bright design with high ceiling...,NaN,653564153,Rodrigo,2024-09-23,NaN,within a day,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25999,1440480926395443476,Private Room Near Atocha,Cozy room in Madrid. Steps from the Royal Pala...,NaN,699306333,Sergio Matias,2025-06-04,NaN,NaN,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26001,1440501514773966682,apartamento en plaza mayor,Beautiful apartment in Plaza Mayor. It consist...,NaN,663724111,Juan Vicente,2024-11-24,"Madrid, Spain",within a few hours,90%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26002,1440526432592438393,Hermoso piso en el centro,Spend your stay in Madrid in an exceptional wa...,NaN,518713670,Bemadrid,2023-06-07,NaN,within an hour,92%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26003,1440528770874727317,Cozy suite - Bravo Murillo,Would you like to live in a residence for youn...,NaN,510778876,The Residential,2023-04-19,NaN,within an hour,80%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#c) Los registros de los host que responden “a más tardar en 1 día”
prim_col = "tiempo_respuesta_anfitrion"

mask = df[prim_col].str.contains("within a day", na=False)

ordenarcols = [prim_col] + [col for col in df.columns if col != prim_col]
RespondenMax1 = df[mask][ordenarcols]
RespondenMax1

,tiempo_respuesta_anfitrion,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,tasa_respuesta_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
31,within a day,685152,house-hotel,NaN,The one where the chalet is located is a quiet...,3494012,Farah Maria,2012-09-06,"Madrid, Spain",78%,...,3,30,180,26280.0,2016-03-16,2025-06-11,4.35,4.33,4.35,4.66
41,within a day,204570,Lovely 110m2 home - Best location!,"SPACIOUS, 2 BEDROOM HOLIDAY HOME: 2 BATHROOMS,...",It can be said without hesitation that this fl...,1004721,Alex,2011-08-22,"Madrid, Spain",90%,...,0,2,20,3200.0,2011-09-26,2024-11-23,4.84,4.82,4.91,4.97
59,within a day,747873,Stylish apartment in the city center,"Luxury and cozy apartment located in Gran Via,...","Built between 1910 and 1929, Gran Vía is Madri...",1625657,Matias,2012-01-19,"Madrid, Spain",100%,...,2,30,255,26520.0,2012-10-29,2025-06-08,4.89,4.90,4.91,4.93
64,within a day,751527,Gran apartamento Plaza de España (Est. Temporada),NaN,NaN,3951702,Juan Antonio,2012-10-23,"Guadalajara, Spain",50%,...,0,23,255,61965.0,2013-04-12,2024-11-29,4.99,4.96,4.99,4.93
72,within a day,752424,2br Apartment La Latina / Rastro,NaN,The Rastro neighborhood is very close to Plaza...,216570,Miguel,2010-08-29,"Madrid, Spain",100%,...,0,0,0,NaN,2012-11-07,2022-07-10,4.51,4.65,4.73,4.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25934,within a day,1439007902124511780,Executive Loft with gym and pool,Functional and bright design with high ceiling...,NaN,653564153,Rodrigo,2024-09-23,NaN,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25953,within a day,1439221860310357949,Modern Luxury in Prime Location,Functional and bright design with high ceiling...,NaN,653564153,Rodrigo,2024-09-23,NaN,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25954,within a day,1439226590111886811,Designer Studio Near Downtown,Welcome to this 22m² studio near Plaza Castill...,NaN,653564153,Rodrigo,2024-09-23,NaN,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25991,within a day,1440377406184453297,Bright Studio Flat in Tetuán,Welcome to this 22m² studio near Plaza Castill...,NaN,653564153,Rodrigo,2024-09-23,NaN,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25995,within a day,1440425430059359202,Designer Apartment in the center,Functional and bright design with high ceiling...,NaN,653564153,Rodrigo,2024-09-23,NaN,51%,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# d) Los registros de las filas “Múltiplos de 200… (400, 600, 800, etc.)”
pos = range(399, len(df), 200)             
out = df.iloc[pos].copy()

# Insertar una columna con el número de fila 
row_nums = [p + 1 for p in pos]            
out.insert(0, "row_num", row_nums)

print(out.shape)
out.head()

(129, 52)

,row_num,index,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
399,400,400,3166047,"LA LATINA, LIVE AND EXPERIENCE, AC ALL FLAT","Beautiful apartment, fully equipped. In the Ma...","The Plaza Mayor is the soul of Madrid, full of...",168241843,Marta Y Arturo,2018-01-16,"Madrid, Spain",...,3,60,255,58905.0,2014-06-08,2025-06-07,4.86,4.86,4.91,4.88
599,600,600,4952788,Habitación cama doble con balcón,"Parquet, central heating included in price, cl...",NaN,25395270,Alicia,2014-12-30,"Seville, Spain",...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,800,800,6919034,Bonita casa en Lavapies,"The house has one room, living room, kitchen a...",It is a multicultural neighborhood with a lot ...,28054431,Sagrario,2015-02-20,"Madrid, Spain",...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1000,1000,7952687,Ático en el centro histórico,"Spectacular terrace overlooking the cathedral,...",In the heart of Madrid de los Austrias a short...,30472095,Yara,2015-04-02,"Munich, Germany",...,0,5,30,NaN,2015-10-14,2024-09-26,5.00,4.87,5.00,4.97
1199,1200,1200,10536601,Habitación 1 o 2 Madrid Centro,The room is located in the central neighborhoo...,NaN,22474892,Javier,2014-10-13,"Madrid, Spain",...,0,0,0,NaN,2017-04-15,2019-03-17,4.83,4.50,4.83,5.00

In [26]:
#e) Los registros de los tipos de cuarto: “Entire home” y “Private room”
col = "tipo_habitacion"
vals = ["Entire home", "Private room"]
df_rooms = df.loc[df[col].isin(vals), [col] + [c for c in df.columns if c != col]]
df_rooms

,tipo_habitacion,index,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
0,Private room,1,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,83531,Abdel,2010-02-21,"Madrid, Spain",...,0,0,0,0.0,2014-10-10,2018-07-15,4.58,4.56,4.82,4.21
4,Private room,5,62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,INCREDIBLE HOME OF AN ARTIST SURROUNDED BY PAI...,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,303845,Arturo,2010-11-29,"Madrid, Spain",...,2,45,204,13056.0,2018-05-10,2025-06-07,4.65,4.44,4.86,4.97
12,Private room,13,605339,NiceStay_HighValue_Orange RoomWIFI,NaN,NaN,2783896,Ivaylo,2012-06-29,"Madrid, Spain",...,2,37,222,7992.0,2012-09-08,2025-06-20,4.89,4.91,4.98,4.64
15,Private room,16,616027,"Quiet room well located, Av.America",Quiet and cosy appartment very close to Av. Am...,"The neighborhood has everything: banks, superm...",3053021,Sonia,2012-07-25,"Madrid, Spain",...,0,0,0,NaN,2012-09-30,2018-09-19,4.84,4.94,4.97,4.75
19,Private room,20,93100,*** MALASAÑA B&B ***,In Malasana. Excellent location.Central 150m a...,The nickname -Malasaña- neighborhood will come...,499977,Charo,2011-04-11,"Madrid, Spain",...,2,84,255,11475.0,2011-05-07,2025-06-01,4.54,4.58,4.72,4.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25985,Private room,25986,1439992758560700782,Habitación en piso compartido en Fuencarral,Single room in a shared apartment located at C...,NaN,204730281,Arantxa,2018-07-24,"Madrid, Spain",...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25992,Private room,25993,1440381656347694517,"habitación acogedora en pleno centro, Tribunal",Enjoy this quiet and private exterior room in ...,NaN,120961384,Diogo,2017-03-15,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25993,Private room,25994,1440397335887274189,Habitación céntrica,"A 10-minute walk to Sol, you can walk around M...",NaN,270250503,Elizabeth,2019-06-21,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25999,Private room,26000,1440480926395443476,Private Room Near Atocha,Cozy room in Madrid. Steps from the Royal Pala...,NaN,699306333,Sergio Matias,2025-06-04,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26003,Private room,26004,1440528770874727317,Cozy suite - Bravo Murillo,Would you like to live in a residence for youn...,NaN,510778876,The Residential,2023-04-19,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#f) Los registros que “a lo mucho cuenten con 4 camas”
col = "camas"  
camas_4 = df.loc[df[col] <= 4, [col] + [c for c in df.columns if c != col]].dropna(subset=[col]).copy()
camas_4

,camas,index,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
0,1.0,1,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,83531,Abdel,2010-02-21,"Madrid, Spain",...,0,0,0,0.0,2014-10-10,2018-07-15,4.58,4.56,4.82,4.21
4,2.0,5,62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,INCREDIBLE HOME OF AN ARTIST SURROUNDED BY PAI...,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,303845,Arturo,2010-11-29,"Madrid, Spain",...,2,45,204,13056.0,2018-05-10,2025-06-07,4.65,4.44,4.86,4.97
5,1.0,6,70059,Tu hogar en centro de Madrid.,"Very nice, cozy and bright, right in the cente...",The location of this apartment is ideal for wa...,353616,Diana,2011-01-19,"Madrid, Spain",...,1,0,28,2408.0,2011-02-23,2025-06-14,4.68,4.74,4.89,4.95
8,1.0,9,84719,Cool Apart. (10min Center + WIFI),Cool and confortable 1 bedroom apartment for 2...,"Madrid has much to offer you, places of great ...",259229,Felipe,2010-10-11,"Madrid, Spain",...,0,0,0,0.0,2011-05-07,2021-09-29,4.68,4.87,4.85,4.44
9,3.0,10,86042,Cozy attic with intimate rooftop terrace+ elev...,"Nestled in Madrid's tranquil heart, this apart...",NaN,364585,Vin,2011-01-27,"Madrid, Spain",...,3,25,162,33858.0,2011-06-20,2025-06-10,4.83,4.65,4.92,4.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25999,1.0,26000,1440480926395443476,Private Room Near Atocha,Cozy room in Madrid. Steps from the Royal Pala...,NaN,699306333,Sergio Matias,2025-06-04,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26000,3.0,26001,1440487269977127830,Bahia - 3 bedrooms and balcony in Niño Jesús,Our mission is to empower individuals to immer...,The Niño Jesús neighborhood of Retiro is a pre...,346367515,Ukio,2020-05-15,"Barcelona, Spain",...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26001,1.0,26002,1440501514773966682,apartamento en plaza mayor,Beautiful apartment in Plaza Mayor. It consist...,NaN,663724111,Juan Vicente,2024-11-24,"Madrid, Spain",...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26002,1.0,26003,1440526432592438393,Hermoso piso en el centro,Spend your stay in Madrid in an exceptional wa...,NaN,518713670,Bemadrid,2023-06-07,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26003,1.0,26004,1440528770874727317,Cozy suite - Bravo Murillo,Would you like to live in a residence for youn...,NaN,510778876,The Residential,2023-04-19,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
col = "es_superanfitrion"

superhost = df.loc[df[col] == "t", [col] + [c for c in df.columns if c != col]].dropna(subset=[col]).copy()
superhost

,es_superanfitrion,index,id,nombre,descripcion,descripcion_barrio,id_anfitrion,nombre_anfitrion,anfitrion_desde,ubicacion_anfitrion,...,num_resenas_30d,num_resenas_1y,ocupacion_estimada_365d,ingresos_estimados_365d,primera_resena,ultima_resena,puntaje_total,puntaje_limpieza,puntaje_comunicacion,puntaje_ubicacion
6,t,7,72150,Sunny attic duplex flat with terrace next to Sol,"Nestled in the serene heart of Madrid, this re...",NaN,364585,Vin,2011-01-27,"Madrid, Spain",...,2,14,108,21168.0,2011-02-13,2025-06-08,4.63,4.43,4.85,4.84
9,t,10,86042,Cozy attic with intimate rooftop terrace+ elev...,"Nestled in Madrid's tranquil heart, this apart...",NaN,364585,Vin,2011-01-27,"Madrid, Spain",...,3,25,162,33858.0,2011-06-20,2025-06-10,4.83,4.65,4.92,4.92
12,t,13,605339,NiceStay_HighValue_Orange RoomWIFI,NaN,NaN,2783896,Ivaylo,2012-06-29,"Madrid, Spain",...,2,37,222,7992.0,2012-09-08,2025-06-20,4.89,4.91,4.98,4.64
13,t,14,608742,Central and quiet.,Enjoy the simplicity of this quiet and central...,The area immediately surrounding the apartment...,3017315,Cristina,2012-07-22,"Madrid, Spain",...,6,60,255,23970.0,2012-08-06,2025-06-23,4.75,4.93,4.92,4.96
23,t,24,120293,ROOM IN THE CENTER -LA LATINA- WIFI,NaN,"Metro station "" La latina"" on the corner.<br /...",605612,Ulises,2011-05-19,"Madrid, Spain",...,5,61,222,10434.0,2011-08-21,2025-06-22,4.80,4.82,4.90,4.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25979,t,25980,1439852314824491001,Piso en pleno centro.,Apartment very tastefully decorated and in the...,NaN,538057542,Eugenia,2023-09-20,"Madrid, Spain",...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25981,t,25982,1439873569155276490,Habitación con mucha luz,This unique home has its own personality. In f...,NaN,486708782,Carliovis,2022-11-07,"Madrid, Spain",...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25988,t,25989,1440078773774853286,Estupendo apartamento en Malasaña,Cozy apartment in Malasaña. Enjoy Madrid from ...,The accommodation is located in the heart of M...,397698176,Ignacio,2021-04-19,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25996,t,25997,1440451108804053578,Mini Estudio,"Located in Madrid's financial district, just 1...",NaN,349149476,Far Home Hostels,2020-06-08,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25998,t,25999,1440459793460625513,"Alquiler de Temporada, Madrid",Enjoy the simplicity of this central home. Sea...,NaN,171960019,BREATEL SLU (Luis),2018-02-06,NaN,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#h) Los registros de las columnas “impares”
impares = df.iloc[:, ::2].copy()

print(impares.shape)
impares.head()

(26004, 26)

,index,nombre,descripcion_barrio,nombre_anfitrion,ubicacion_anfitrion,tasa_respuesta_anfitrion,es_superanfitrion,total_anuncios_anfitrion,anfitrion_tiene_foto,barrio,...,promedio_min_noches,disponibilidad,disponibilidad_60d,disponibilidad_365d,num_resenas_12m,num_resenas_1y,ingresos_estimados_365d,ultima_resena,puntaje_limpieza,puntaje_ubicacion
0,1,Bright and airy room,We live in a leafy neighbourhood with plenty o...,Abdel,"Madrid, Spain",NaN,f,2.0,t,Cármenes,...,4.0,t,35,340,0,0,0.0,2018-07-15,4.56,4.21
1,2,Apartamentos Dana Sol,NaN,Dana,"Madrid, Spain",NaN,f,6.0,t,Sol,...,5.1,t,32,337,0,0,NaN,2022-09-26,4.88,4.90
2,3,Beautiful loft in Madrid Center,NaN,Angela,"Madrid, Spain",NaN,f,4.0,t,Embajadores,...,3.0,NaN,0,0,0,0,NaN,2017-05-30,4.38,4.88
3,4,Apartasol Apartamentos Dana,NaN,Dana,"Madrid, Spain",NaN,f,6.0,t,Universidad,...,5.0,t,47,352,0,0,NaN,2021-12-11,4.90,4.88
4,5,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,Arturo,"Madrid, Spain",100%,f,3.0,t,Justicia,...,1.0,t,31,314,34,45,13056.0,2025-06-07,4.44,4.97

In [34]:
""" # Reporte de Filtros Aplicados Airbnb Madrid

En el presente análisis se aplicaron distintos filtros sobre la base de datos depurada de Airbnb Madrid:

a) Registros de 5 *host name* diferentes
Se seleccionaron los anuncios pertenecientes a 5 anfitriones distintos. Este filtro permite comparar prácticas y características de varios perfiles, entendiendo cómo varían sus alojamientos y métricas clave (precio, reseñas, disponibilidad).

b) Registros de anfitriones que se unieron a Airbnb **después del año 2020**
La variable *host_since* indica la fecha en que un anfitrión se unió a la plataforma. Filtrar por los registrados después de 2020 ayuda a analizar a los **nuevos participantes** en el mercado y entender si existen diferencias frente a anfitriones más antiguos (estrategias de precio, tipo de propiedad, reseñas recibidas).

c) Registros de anfitriones que responden **a más tardar en 1 día**
La variable *host_response_time* se utilizó para seleccionar aquellos que responden en un máximo de 24 horas. Una respuesta rápida incrementa la satisfacción de los huéspedes y puede impactar la tasa de reservas.

d) Registros de las filas que son **múltiplos de 200** (400, 600, 800, etc.)
Este filtro se aplicó sobre el índice del dataset. Permite tomar una **muestra sistemática** de la base completa, útil para revisiones exploratorias o visualización de ejemplos representativos sin procesar toda la información.

e) Registros de los tipos de cuarto: **“Entire home”** y **“Private room”**
La variable *room_type* fue filtrada para quedarse únicamente con estos dos tipos. Son categorías muy populares en Airbnb y concentran gran parte de la demanda, por lo que resulta clave analizarlas por separado (diferencias en precio, ocupación y reseñas).

f) Registros con **a lo mucho 4 camas**
Se utilizó la variable *beds* para seleccionar alojamientos pequeños o medianos. Esto enfoca el análisis en propiedades destinadas a grupos reducidos o familias, evitando que anuncios de alta capacidad sesguen resultados.

g) Registros de los que **sean superhost**
Se filtró la variable *host_is_superhost*. Los superhosts son considerados de mayor calidad y fiabilidad; su análisis permite identificar atributos que diferencian a los mejores anfitriones del resto.

h) Registros de las **columnas impares**
Se seleccionaron únicamente las columnas ubicadas en posiciones impares dentro del dataset. Esta técnica se usó como ejercicio de manipulación de datos y reducción de dimensionalidad, manteniendo solo una parte de las variables de manera sistemática.
"""

' # Reporte de Filtros Aplicados Airbnb Madrid\n\nEn el presente análisis se aplicaron distintos filtros sobre la base de datos depurada de Airbnb Madrid:\n\na) Registros de 5 *host name* diferentes\nSe seleccionaron los anuncios pertenecientes a 5 anfitriones distintos. Este filtro permite comparar prácticas y características de varios perfiles, entendiendo cómo varían sus alojamientos y métricas clave (precio, reseñas, disponibilidad).\n\nb) Registros de anfitriones que se unieron a Airbnb **después del año 2020**\nLa variable *host_since* indica la fecha en que un anfitrión se unió a la plataforma. Filtrar por los registrados después de 2020 ayuda a analizar a los **nuevos participantes** en el mercado y entender si existen diferencias frente a anfitriones más antiguos (estrategias de precio, tipo de propiedad, reseñas recibidas).\n\nc) Registros de anfitriones que responden **a más tardar en 1 día**\nLa variable *host_response_time* se utilizó para seleccionar aquellos que responden en un máximo de 24 horas. Una respuesta rápida incrementa la satisfacción de los huéspedes y puede impactar la tasa de reservas.\n\nd) Registros de las filas que son **múltiplos de 200** (400, 600, 800, etc.)\nEste filtro se aplicó sobre el índice del dataset. Permite tomar una **muestra sistemática** de la base completa, útil para revisiones exploratorias o visualización de ejemplos representativos sin procesar toda la información.\n\ne) Registros de los tipos de cuarto: **“Entire home”** y **“Private room”**\nLa variable *room_type* fue filtrada para quedarse únicamente con estos dos tipos. Son categorías muy populares en Airbnb y concentran gran parte de la demanda, por lo que resulta clave analizarlas por separado (diferencias en precio, ocupación y reseñas).\n\nf) Registros con **a lo mucho 4 camas**\nSe utilizó la variable *beds* para seleccionar alojamientos pequeños o medianos. Esto enfoca el análisis en propiedades destinadas a grupos reducidos o familias, evitando que anuncios de alta capacidad sesguen resultados.\n\ng) Registros de los que **sean superhost**\nSe filtró la variable *host_is_superhost*. Los superhosts son considerados de mayor calidad y fiabilidad; su análisis permite identificar atributos que diferencian a los mejores anfitriones del resto.\n\nh) Registros de las **columnas impares**\nSe seleccionaron únicamente las columnas ubicadas en posiciones impares dentro del dataset. Esta técnica se usó como ejercicio de manipulación de datos y reducción de dimensionalidad, manteniendo solo una parte de las variables de manera sistemática.\n'