In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x1044a1550>>
Traceback (most recent call last):
  File "/Users/juanpablopineroillescas/Library/Python/3.13/lib/python/site-packages/ipykernel/ipkernel.py", line 781, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

In [ ]:
# Carga de archivo
df = pd.read_csv("df_select_ROME.csv")
df.head(5)

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100%,0%,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100%,0%,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100%,98%,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100%,96%,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100%,100%,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5

In [3]:
#Identificar valores nulos por columna
display(df.isnull().sum())

Unnamed: 0                            0
id                                    0
host_id                               0
host_name                            19
host_since                           19
host_response_time                 5910
host_response_rate                 5910
host_acceptance_rate               3200
host_is_superhost                  1718
host_listings_count                  19
host_identity_verified               19
listing_url                           0
name                                  0
description                         923
neighbourhood                     17086
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bedrooms                            835
beds                               3579
bathrooms_text                       32
minimum_nights                        0
maximum_nights                        0
price                              3554
instant_bookable                      0
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
first_review                       5722
last_review                        5722
reviews_per_month                  5722
review_scores_rating               5723
review_scores_accuracy             5727
review_scores_cleanliness          5726
review_scores_checkin              5727
review_scores_communication        5726
review_scores_location             5728
review_scores_value                5727
license                            3435
calculated_host_listings_count        0
dtype: int64

In [4]:
#Realizamos una copia del dataframe
df_ROMA = df
df_ROMA.head(5)

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100%,0%,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100%,0%,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100%,98%,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100%,96%,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100%,100%,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5

In [5]:
#Establecer un nombre especÃ­fico "Unknown" a todas los valores nulos dentro de las columnas 'host_name' y 'host_since'
df_ROMA["host_name"] = df_ROMA["host_name"].fillna("Unknown")
df_ROMA["host_since"] = df_ROMA["host_since"].fillna("00/00/00")

display(df_ROMA.isnull().sum())

Unnamed: 0                            0
id                                    0
host_id                               0
host_name                             0
host_since                            0
host_response_time                 5910
host_response_rate                 5910
host_acceptance_rate               3200
host_is_superhost                  1718
host_listings_count                  19
host_identity_verified               19
listing_url                           0
name                                  0
description                         923
neighbourhood                     17086
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bedrooms                            835
beds                               3579
bathrooms_text                       32
minimum_nights                        0
maximum_nights                        0
price                              3554
instant_bookable                      0
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
first_review                       5722
last_review                        5722
reviews_per_month                  5722
review_scores_rating               5723
review_scores_accuracy             5727
review_scores_cleanliness          5726
review_scores_checkin              5727
review_scores_communication        5726
review_scores_location             5728
review_scores_value                5727
license                            3435
calculated_host_listings_count        0
dtype: int64

In [6]:
## LLenamos los NAs de la columna de 'host_response_time' con el string mÃ¡s repetido; "within an hour"
valor_mas_repetido_response = df_ROMA["host_response_time"].mode()[0]
print("El valor mÃ¡s repetido es:", valor_mas_repetido_response)

df_ROMA["host_response_time"] = df_ROMA["host_response_time"].fillna(valor_mas_repetido_response)

display(df_ROMA.isnull().sum())
df_ROMA

El valor mÃ¡s repetido es: within an hour

Unnamed: 0                            0
id                                    0
host_id                               0
host_name                             0
host_since                            0
host_response_time                    0
host_response_rate                 5910
host_acceptance_rate               3200
host_is_superhost                  1718
host_listings_count                  19
host_identity_verified               19
listing_url                           0
name                                  0
description                         923
neighbourhood                     17086
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bedrooms                            835
beds                               3579
bathrooms_text                       32
minimum_nights                        0
maximum_nights                        0
price                              3554
instant_bookable                      0
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
first_review                       5722
last_review                        5722
reviews_per_month                  5722
review_scores_rating               5723
review_scores_accuracy             5727
review_scores_cleanliness          5726
review_scores_checkin              5727
review_scores_communication        5726
review_scores_location             5728
review_scores_value                5727
license                            3435
calculated_host_listings_count        0
dtype: int64

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100%,0%,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100%,0%,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100%,98%,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100%,96%,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100%,100%,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34537,34537,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B4U3ZHG3VR,2
34538,34538,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B42A8XZ3D9,2
34539,34539,1.370000e+18,682192986,Elena,03/03/25,within an hour,NaN,100%,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2DJD6RIY7,1
34540,34540,1.370000e+18,676129324,Alessandra,30/01/25,within an hour,100%,NaN,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2GY5XH8DQ,1
34541,34541,1.370000e+18,484554032,Claudia Cezarina,21/10/22,within an hour,100%,100%,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C24BZC2RWI,2

In [8]:
#Eliminar un signo de columna 'host_response_rate' en dataframe df (copia)
df_ROMA['host_response_rate']=df_ROMA['host_response_rate'].str.replace('%', '')
df_ROMA

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100,0%,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100,0%,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100,98%,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100,96%,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100,100%,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34537,34537,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B4U3ZHG3VR,2
34538,34538,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B42A8XZ3D9,2
34539,34539,1.370000e+18,682192986,Elena,03/03/25,within an hour,NaN,100%,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2DJD6RIY7,1
34540,34540,1.370000e+18,676129324,Alessandra,30/01/25,within an hour,100,NaN,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2GY5XH8DQ,1
34541,34541,1.370000e+18,484554032,Claudia Cezarina,21/10/22,within an hour,100,100%,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C24BZC2RWI,2

In [9]:
#Eliminar un signo de columna 'host_response_rate' en dataframe df (original)
df['host_response_rate']=df['host_response_rate'].str.replace('%', '')
df

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100,0%,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100,0%,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100,98%,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100,96%,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100,100%,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34537,34537,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B4U3ZHG3VR,2
34538,34538,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,NaN,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B42A8XZ3D9,2
34539,34539,1.370000e+18,682192986,Elena,03/03/25,within an hour,NaN,100%,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2DJD6RIY7,1
34540,34540,1.370000e+18,676129324,Alessandra,30/01/25,within an hour,100,NaN,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2GY5XH8DQ,1
34541,34541,1.370000e+18,484554032,Claudia Cezarina,21/10/22,within an hour,100,100%,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C24BZC2RWI,2

In [10]:
#ConversiÃ³n de tipo de dato de columna de tipo Object a Float
df_ROMA['host_response_rate']= df_ROMA['host_response_rate'].astype(float)
df['host_response_rate']= df['host_response_rate'].astype(float)

In [11]:
#Sustituir valores nulos con promedio o media en columna 'host_response_rate'
df_ROMA["host_response_rate"]=df_ROMA["host_response_rate"].fillna(round(df["host_response_rate"].mean(),1))
display(df_ROMA.isnull().sum())

Unnamed: 0                            0
id                                    0
host_id                               0
host_name                             0
host_since                            0
host_response_time                    0
host_response_rate                    0
host_acceptance_rate               3200
host_is_superhost                  1718
host_listings_count                  19
host_identity_verified               19
listing_url                           0
name                                  0
description                         923
neighbourhood                     17086
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bedrooms                            835
beds                               3579
bathrooms_text                       32
minimum_nights                        0
maximum_nights                        0
price                              3554
instant_bookable                      0
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
first_review                       5722
last_review                        5722
reviews_per_month                  5722
review_scores_rating               5723
review_scores_accuracy             5727
review_scores_cleanliness          5726
review_scores_checkin              5727
review_scores_communication        5726
review_scores_location             5728
review_scores_value                5727
license                            3435
calculated_host_listings_count        0
dtype: int64

In [12]:
#Eliminar un signo de columna 'host_acceptance_rate' en dataframe df (copia)
df_ROMA['host_acceptance_rate']=df_ROMA['host_acceptance_rate'].str.replace('%', '')
df_ROMA

#Eliminar un signo de columna 'host_acceptance_rate' en dataframe df (original)
df['host_acceptance_rate']=df['host_acceptance_rate'].str.replace('%', '')
df

,Unnamed: 0,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count
0,0,2.737000e+03,3047,Elif,18/09/08,within a few hours,100.0,0,f,7.0,...,0.04,4.80,4.60,4.60,4.80,5.00,4.40,4.40,NaN,6
1,1,3.079000e+03,3504,Laura,08/10/08,within a day,100.0,0,f,6.0,...,0.12,4.53,4.38,4.62,4.71,4.86,4.81,4.43,NaN,6
2,2,1.183400e+04,44552,Serena,09/10/09,within a few hours,100.0,98,t,1.0,...,1.59,4.86,4.86,4.93,4.98,4.96,4.99,4.81,IT058091C29VJSIZQZ,1
3,3,1.239800e+04,11756,Gea,30/03/09,within an hour,100.0,96,t,1.0,...,0.45,4.90,4.89,4.92,4.93,5.00,4.87,4.82,it058091c2kv6epw8f,1
4,4,1.210000e+18,590573096,Mario,18/07/24,within an hour,100.0,100,t,5.0,...,3.13,5.00,5.00,5.00,5.00,5.00,4.80,5.00,IT058091C2P495DNNK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34537,34537,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,97.0,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B4U3ZHG3VR,2
34538,34538,1.370000e+18,682168616,Riccardo,03/03/25,within an hour,97.0,NaN,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091B42A8XZ3D9,2
34539,34539,1.370000e+18,682192986,Elena,03/03/25,within an hour,97.0,100,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2DJD6RIY7,1
34540,34540,1.370000e+18,676129324,Alessandra,30/01/25,within an hour,100.0,NaN,f,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C2GY5XH8DQ,1
34541,34541,1.370000e+18,484554032,Claudia Cezarina,21/10/22,within an hour,100.0,100,f,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IT058091C24BZC2RWI,2

In [27]:
#ConversiÃ³n de tipo de dato de columna de tipo Object a Float
df_ROMA['host_acceptance_rate']= df_ROMA['host_acceptance_rate'].astype(float)
df['host_acceptance_rate']= df['host_acceptance_rate'].astype(float)
print(df.dtypes)

Unnamed: 0                          int64
id                                float64
host_id                             int64
host_name                          object
host_since                         object
host_response_time                 object
host_response_rate                float64
host_acceptance_rate              float64
host_is_superhost                  object
host_listings_count               float64
host_identity_verified             object
listing_url                        object
name                               object
description                        object
neighbourhood                      object
neighbourhood_cleansed             object
latitude                          float64
longitude                         float64
property_type                      object
room_type                          object
accommodates                        int64
bedrooms                          float64
beds                              float64
bathrooms_text                     object
minimum_nights                      int64
maximum_nights                      int64
price                             float64
instant_bookable                   object
availability_30                     int64
availability_60                     int64
availability_90                     int64
availability_365                    int64
number_of_reviews                   int64
first_review                       object
last_review                        object
reviews_per_month                 float64
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
license                            object
calculated_host_listings_count      int64
dtype: object

In [26]:
#Sustituir valores nulos con promedio o media en columna 'host_acceptance_rate'
df_ROMA["host_acceptance_rate"]=df_ROMA["host_acceptance_rate"].fillna(round(df["host_acceptance_rate"].mean(),1))
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                           835
beds                              3579
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [25]:
#Agregar nueva categorÃ­a 'NONE' a celdas vacias dentro de columna 'host_is_superhost' y 'host_identity_verified'
df_ROMA["host_is_superhost"] = df_ROMA["host_is_superhost"].fillna("NONE")
df_ROMA["host_identity_verified"] = df_ROMA["host_identity_verified"].fillna("NONE")
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                           835
beds                              3579
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [28]:
#Establecer con media NAs de la columna 'host_listings_count'
df_ROMA["host_listings_count"]=df_ROMA["host_listings_count"].fillna(round(df["host_listings_count"].mean(),1))
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                           835
beds                              3579
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [29]:
#Agregar nueva categorÃ­a 'NONE' a celdas vacias dentro de columna 'description'
df_ROMA["description"] = df_ROMA["description"].fillna("NONE")
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                           835
beds                              3579
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [30]:
## LLenamos los NAs de la columna de 'neighbourhood' con el vecindario mÃ¡s repetido; "Rome, Lazio, Italy"
valor_mas_repetido_response = df_ROMA["neighbourhood"].mode()[0]
print("El valor mÃ¡s repetido es:", valor_mas_repetido_response)

df_ROMA["neighbourhood"] = df_ROMA["neighbourhood"].fillna(valor_mas_repetido_response)

display(df_ROMA.isnull().sum())

El valor mÃ¡s repetido es: Rome, Lazio, Italy

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                           835
beds                              3579
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [31]:
#Establecer con media NAs de la columna 'bedrooms' y 'beds'
df_ROMA["bedrooms"]=df_ROMA["bedrooms"].fillna(round(df["bedrooms"].mean(),1))
df_ROMA["beds"]=df_ROMA["beds"].fillna(round(df["beds"].mean(),1))
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                             0
beds                                 0
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [32]:
#Agregar nueva categorÃ­a 'NONE' a celdas vacias dentro de columna 'bathrooms_text '
df_ROMA["bathrooms_text"] = df_ROMA["bathrooms_text"].fillna("NONE")
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                             0
beds                                 0
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [33]:
# Convertir la columna 'price' a numÃ©rica (eliminando sÃ­mbolos de $ y comas)
df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
/var/folders/wy/pt9_jxts4m57dmqwnkry3f600000gn/T/ipykernel_5434/2629354.py:2: SyntaxWarning: invalid escape sequence '\$'
  df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float)

In [34]:
# Calcular el promedio de precio por tipo de cuarto
promedios = df.groupby("room_type")["price"].mean()
promedios

room_type
Entire home/apt    180.592192
Hotel room         147.438525
Private room       123.345312
Shared room         58.235294
Name: price, dtype: float64

In [35]:
# Rellenar los NaN en 'price' con el promedio del room_type correspondiente
df["price"] = df.apply(
    lambda row: promedios[row["room_type"]] if pd.isna(row["price"]) else row["price"], axis=1)
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                             0
beds                                 0
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [36]:
#Establecer una fecha "00/00/00" a todas los valores nulos dentro de las columnas 'first_review' y 'last_review'
df_ROMA["first_review"] = df_ROMA["first_review"].fillna("00/00/00")
df_ROMA["last_review"] = df_ROMA["last_review"].fillna("00/00/00")

display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                             0
beds                                 0
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [37]:
#Establecer una valor "UNKNOWN" a todas los valores nulos dentro de la columna 'license'
df_ROMA["license"] = df_ROMA["license"].fillna("UNKNOWN")
display(df_ROMA.isnull().sum())

Unnamed: 0                           0
id                                   0
host_id                              0
host_name                            0
host_since                           0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_identity_verified               0
listing_url                          0
name                                 0
description                          0
neighbourhood                        0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bedrooms                             0
beds                                 0
bathrooms_text                       0
minimum_nights                       0
maximum_nights                       0
price                                0
instant_bookable                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
first_review                         0
last_review                          0
reviews_per_month                 5722
review_scores_rating              5723
review_scores_accuracy            5727
review_scores_cleanliness         5726
review_scores_checkin             5727
review_scores_communication       5726
review_scores_location            5728
review_scores_value               5727
license                              0
calculated_host_listings_count       0
dtype: int64

In [39]:
#Establecer con 0 todos los values que no cuentan con un review dentro este tipo de variables el dataframe
df_ROMA['reviews_per_month'] = df_ROMA['reviews_per_month'].fillna(0)
df_ROMA['review_scores_rating'] = df_ROMA['review_scores_rating'].fillna(0)
df_ROMA['review_scores_accuracy'] = df_ROMA['review_scores_accuracy'].fillna(0)
df_ROMA['review_scores_cleanliness'] = df_ROMA['review_scores_cleanliness'].fillna(0)
df_ROMA['review_scores_checkin'] = df_ROMA['review_scores_checkin'].fillna(0)
df_ROMA['review_scores_communication'] = df_ROMA['review_scores_communication'].fillna(0)
df_ROMA['review_scores_location'] = df_ROMA['review_scores_location'].fillna(0)
df_ROMA['review_scores_value'] = df_ROMA['review_scores_value'].fillna(0)
display(df_ROMA.isnull().sum())

Unnamed: 0                        0
id                                0
host_id                           0
host_name                         0
host_since                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_listings_count               0
host_identity_verified            0
listing_url                       0
name                              0
description                       0
neighbourhood                     0
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bedrooms                          0
beds                              0
bathrooms_text                    0
minimum_nights                    0
maximum_nights                    0
price                             0
instant_bookable                  0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
first_review                      0
last_review                       0
reviews_per_month                 0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
license                           0
calculated_host_listings_count    0
dtype: int64

In [40]:
df_ROMA.to_csv("df_select_ROME_LIMPIO.csv", index=False)